@import url("./header.css");
@import url("./button.css");
@import url("./modal.css");
@import url("./Global.css");

.ItemProdutoContent
{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F9FA;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.761) 0px 3px 8px;
}

.ItemProduto
{
  height: auto;
  margin: 10px;
  background-color: #F8F9FA;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.761) 0px 3px 8px;
  border: 0.05px solid rgba(0, 0, 0, 0.761);

  display: flex;
  justify-content: center;
  align-items: center;
}

#FormCadastroProduto
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemForm
{
    padding: 5px;
}

.itemForm:nth-child(2)
{
    width: 80px;
}


/*Cadastrar Cliente */

.CreateContent
{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F9FA;
    border-radius: 10px;   
}

.Createheader
{
    width: 100%;
    height: 35px;
    border-bottom: 0.05px solid #cecece ;
    border-radius: 10px 10px 0 0 ;
    background-color: #1c1b1b;
    box-shadow: rgba(0, 0, 0, 0.035) 0px 3px 8px;
    color:#F8F9FA;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Createbody
{
    background-color: #F8F9FA;
    box-shadow: rgba(0, 0, 0, 0.035) 0px 3px 8px;
    
    font-size: 1rem;
    font-family: sans-serif;
    padding: 5px;

    width: 100%;
}

#FormCadastroClientes
{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.CreateDadosInicial
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.CreateDadosInicial .itemFormCreate
{
    flex: 1;
    padding: 5px;
    min-width: 40%;
}

.CreateEnderecos
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.CreateEnderecos .itemFormCreate
{
    flex: 1;
    padding: 5px;
    min-width: 40%;
}

.CreateEnderecos .itemFormCreate:first-child, .CreateDadosInicial .itemFormCreate:first-child
{
    min-width: 100%;
}

.CreateEnderecos .itemFormCreate:first-child
{
    margin-top: 10px;
}

.CreateFooter
{
    width: 100%;
    display: flex;
    background-color: #F8F9FA;
}

.BtnCreate
{
    color: #F8F9FA !important;
    padding: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
    margin: 3px;
}

